 
#myName {
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1.5em;
    background: #4aaaa5;
    padding: 25px;
    width: 200px;
    text-align: center;
}

.contentBox {
    width: 960px;
    padding: 25px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-style: solid;
    border-color: #666666;
    border-width: 6px;
    

}



h4 {

}


div {


}


#aboutMe {
    Padding: 10px;    
    color: #4aaaa5;
        
}

#aboutMe2 {
    
    float: left;
    background-color: #ffffff;
    text-align: center;
    color: #777777

}

h1 {
    
    
}
img {
    float: left;
}

p {
    padding: 5px;
    text-align: center;
    font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
}

div {

    clear: both;

}

.footPg1, 
.push {
    color: #eee;
    background-color: #666666;
    text-align: center;
    height: 20px;
    


}