
header {

    width: 100%;
    background-color: #ffffff;
    border-color: #cccccc;
    border-width: 2px;

}

body {
    background-image: url("../images/gravel.png");
    

}

#myName {
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1.5em;
    background: #4aaaa5;
    padding: 20px;
    width: 180px;
    text-align: center;\
    margin: auto;
    margin-left: 125px;
}

.contentBox {
    width: 960px;
    padding: 25px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    background-color: #ffffff
    

}

h4 {

    margin-right: 30%;
   

}

a {
    
    text-decoration: none;
    display: inline;
}

div {


}
.next {

    
}

#aboutMe {
    Padding: 10px;    
    color: #4aaaa5;
        
}

#aboutMe2 {
    
    float: left;
    background-color: #ffffff;
    text-align: center;
    color: #777777

}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    
}
img {
    float: left;
}

p {
    padding: 5px;
    text-align: center;
    font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
}

div {

    clear: both;

}

.footPg1
    {
    flex-shrink: 0; 
    height: 50px;   
    color: #eee;
    background-color: #666666;
    text-align: center;    
    border-top: 8px solid #4aaaa5;


}